.logo {
    width: 30%;
    height: auto;
}

button {
    margin: 2%;
}

.buttons {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-right: 15%;
}


.info-display {
    padding: 3%;
}

.navbar-brand {
    width: 77%;
}


body {
    font-family: 'Raleway', sans-serif;
    background: rgb(34, 193, 195);
    background: linear-gradient(352deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

button a:link,
button a:visited {
    color: white
}

.navbar-nav button,
.controls button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.navbar-nav li {
    padding: 1%;
}

.ico {
    font-size: 150%;
    margin: 2%;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 5px;
}